<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_app.name %>
  <strong>Token:</strong>
  <%= @web_app.token %>
</p>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>

<% @event_types.each do |type| %>

  <% chartdata = ChartData(@events, type) %>
  <p><h3><%= type %></h3></p>

  <p><canvas id= <%= type %> width="600", height="400"></canvas></p>

  <script>
    $(document).ready(function(){
      GenerateChart("<%= type %>", <%= raw chartdata.first %>, <%= chartdata.last %>);
    })
  </script>

  <p><%= raw chartdata.first %></p>
  <p><%= raw chartdata.last %></p>

  <br />
<% end %>