<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_app.name %>
  <strong>Token:</strong>
  <%= @web_app.token %>
</p>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>

<% @event_types.each do |key| %>
  
<% end %>

<% @chart_array.each do |chart| %>

  <% key = chart.keys.first %>
  <p><%= raw chart[key].first %></p>
  <p><%= chart[key].last %></p>

  <p><h3><%= key %></h3></p>

  <p>
    <canvas id= <%= key %> width="600", height="400"></canvas>
  </p>

  <script>
    $(document).ready(function(){
      GenerateChart("<%= key %>", <%= raw chart[key].first %>, <%= chart[key].last %>);
    })
  </script>

  <br />

<% end %>