<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_app.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @web_app.token %>
</p>

<canvas id="myChart", width="600", height="400"></canvas>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>

<p><%= raw @date_range %></p>
<p><%= @value_range %></p>


<script>
$(document).ready(function(){
  var ctx = document.getElementById("myChart").getContext("2d");


  var data = {
      labels: <%= raw @date_range %>,
      datasets: [{
        label: "My First dataset",
        fillColor: "rgba(220,220,220,0.2)",
        strokeColor: "rgba(69,158,197,1)",
        pointColor: "rgba(220,220,220,1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(220,220,220,1)",
        data: <%= @value_range %>
      }]
  };


  var myLineChart = new Chart(ctx).Line(data);
})
</script>