<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @web_app.name %>
</p>

<p>
  <strong>Token:</strong>
  <%= @web_app.token %>
</p>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>
